
# This file is part of daynight2geojson.
# https://github.com/GeographicaGS/daynight2geojson

# Licensed under the GPLv2 license:
# https://www.gnu.org/licenses/gpl-2.0.txt
# Copyright (c) 2015, Cayetano Benavent <cayetanobv@gmail.com>

prune data
